.button{
    -fx-background-color: #08C6AB;
    -fx-text-fill: black;
    -fx-font-size: 16;
}

.button:hover {
    -fx-background-color: #5AFFE7;
    -fx-scale-y: 1.1;
}

.root {
    -fx-background-color: #37465B;
    -fx-font-family: "Comic Sans MS";
}